.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > button {
    width: 300px;
    background-color: aquamarine;
    color: #222;
    font-weight: 800;
}

.login > button:hover {
    background-color: rgba(127, 255, 212, 0.623);
}

.login > div > img {
    object-fit: contain;
    height: 90px;
}

.login > div {
    display: flex;
    flex-direction: column;
}